.showcase > div {
    padding-top: 30px;
  }
  
  .swiper-slide {
    position: relative;
  }
  
  .showcase_btn {
    display: flex;
    align-items: center;
    gap: 100px;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none; /* Bu showcase_btn hover bo'lganda yashirinib qolishini oldini oladi */
    
    a {
      font-size: 20px;
      color: gray;
      border-bottom: 1px solid gray;
    }
  }
  
  /* Rasm yoki showcase_btn hover bo'lganda telefon va emailni ko'rsatadi */
  .swiper-slide:hover .showcase_btn,
  .swiper-slide .showcase_btn:hover {
    opacity: 1;
    pointer-events: auto; /* showcase_btn elementiga hover qilishga ruxsat beradi */
  }
  